<h1>All Found Pets</h1>

<ul>
  <% @pets.each do |pet| %>

    <li>
      <%= link_to pet_path(pet) do %>
        <h4><%= pet.name %></h4>
        <p>At <%= pet.address %> - <%= time_ago_in_words(pet.found_on) %> ago</p>
        <%= link_to 'Delete',
                    pet_path(pet),
                    method: :delete,
                    class: 'btn btn-danger',
                    data: { confirm: "Are you sure ?"} %>

        <%= link_to 'Edit', edit_pet_path(pet), class: 'btn btn-warning' %>
      <% end %>
    </li>

  <% end %>
</ul>


<%= link_to '+ New Pet', new_pet_path, class: 'btn btn-primary' %>

